<h1>New Paper</h1>

<%= form_for :paper do |f| %>
<p>
  <%= f.label :Title %><br>
  <%= f.text_field :Title %>
</p>

<p>
  <%= f.label :Venue %><br>
  <%= f.text_field :Venue %>
</p>

<p>
  <%= f.label :Year %><br>
  <%= f.text_field :Year %>
</p>
<p>
  <%= f.submit "Submit"%>
</p>

<%end%>

